{% extends "admin.html" %}

{% block content %}
    <div class="padding-md">
        <div class="row">
            <div class="col-lg-12">
                {{ panel }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ qs0.as_table }}
            </div>
            <div class="col-lg-6">
                {{ qs0.as_chart }}
            </div>
        </div>
        <div class="row" style="clear: both">
            <div class="col-lg-12">
                {{ qs1.as_table }}
            </div>

            <div class="col-lg-12">
                {{ qs1.as_chart.stack }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {{ qs2.as_table }}
            </div>
            <div class="col-lg-8">
                {{ qs3.as_table }}
                {{ qs3.as_chart }}
            </div>
        </div>
        <div class="row" style="clear: both">
            <div class="col-lg-12">
                {{ qs4.as_chart }}
            </div>

            <div class="col-lg-12">
                {{ qs4.as_chart.horizontal_bar }}
            </div>
        </div>
    </div>
{% endblock %}

